
@{
    ViewBag.Title = "EventCounts";
}



<form id="eventcounts">
    
    <div class="form-group">
        <div><label for="eventtitle">Event:</label></div>
        <select class="selectpicker form-control" id="eventtitle"  title="Select Event" data-width="100%" data-size="20" data-live-search="true">
        @foreach (var eventsum in Model)
        {
            <option id="@eventsum.EventID">@eventsum.EventTitle</option>
        }
        </select>
    </div>

   
    <div class="panel panel-default panel-info">
        <div class="panel-heading">Registered</div>
        <div class="panel-body"><h3>30</h3></div>
    </div>

    <div class="panel panel-default panel-primary">
        <div class="panel-heading">Attended</div>
        <div class="panel-body"><h3>30</h3></div>
    </div>
 




</form>

<script>
    $(document).ready(function () {

        $('.selectpicker').selectpicker('mobile');
    }
</script>

