
@{
    ViewBag.Title = "EventCounts";
}



<form id="eventcounts">
    
    <div class="form-group">
        <label for="eventtitle">Select Event: </label>
        <select class="form-control" id="eventtitle">
        @foreach (var eventsum in Model)
        {
            <option id="@eventsum.eventID">@eventsum.eventTitle</option>
        }
        </select>
    </div>

   
    <div class="panel panel-default panel-info">
        <div class="panel-heading">Registered</div>
        <div class="panel-body"><h3>30</h3></div>
    </div>

    <div class="panel panel-default panel-success">
        <div class="panel-heading">Attended</div>
        <div class="panel-body"><h3>30</h3></div>
    </div>
 



   





</form>

