
@{
    ViewBag.Title = "Weekly";
}

<h4>Weekly Metrics</h4>

<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">Week Of</th>
            <td>1/2/2017</td>
        </tr>
        <tr>
            <td>Worship Attendance</td>
            <td>1234</td>
        </tr>
    </tbody>

</table>

