<?xml version="1.0"?>
<configuration>
<appSettings>

  <!-- ******************************************************************************** -->
  <!-- Customer OAuth Configuration -->
  <!-- ******************************************************************************** -->
  <add key="OAuthClientID" value="[YourClient]"/>
  <add key="OAuthClientSecret" value="[YourSecret]"/>
  <add key="OAuthBaseAddress" value="https://dev.ministryplatform.net/ministryplatform/oauth"/>
  <!-- ******************************************************************************** -->
  <!-- ******************************************************************************** -->

  <!-- ******************************************************************************** -->
  <!-- Customer API Configuration -->
  <!-- ******************************************************************************** -->
  <add key="ServiceAddress" value="https://dev.ministryplatform.net/ministryplatformapi/"/>
  <!-- ******************************************************************************** -->
  <!-- ******************************************************************************** -->

</appSettings>
</configuration>