<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- ******************************************************************************** -->
    <!-- Customer OAuth Configuration -->
    <!-- ******************************************************************************** -->
    <add key="OAuthClientID" value="mpcoretools"/>
    <add key="OAuthClientSecret" value="^gBFVwBrqmQBZ2?G"/>
    <add key="OAuthBaseAddress" value="https://ministryplatform.perimeter.org/ministryplatform/oauth"/>
    <!-- ******************************************************************************** -->
    <!-- ******************************************************************************** -->

    <!-- ******************************************************************************** -->
    <!-- Customer API Configuration -->
    <!-- ******************************************************************************** -->
    <add key="ServiceAddress" value="https://ministryplatform.perimeter.org/ministryplatformapi/"/>
    <!-- ******************************************************************************** -->
    <!-- ******************************************************************************** -->

  </appSettings>
</configuration>